@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Colors used on page */
/* #f4f4f4 */
/* #eb4442 */
/* #e6e6e6 */
/* #2d2b3e */

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  /* The overflow property determines what to do if content overflows an element's box. Setting overflow to hidden will hide/clip the overflowing content. */
  overflow: hidden;
}